button {
	background-color: hotpink;
	color: white;
}

a:link {
	/* background-color: blue; */
	color: hotpink;
	border: 2px solid red;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

a:hover, a:active {
	background-color: hotpink;
	color: white;
}

div, input, img, a {
	margin:5px;
	margin-left:10px;
}